{% extends 'base.html' %}
{% load static %}

{% block content %}


  <main id="main">
    <section class="single-post-content">
      <div class="container">
        
          <div class="post" data-aos="fade-up">
            <div>
              <div class="box">

                <form action="{% url 'write' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div>
                    <select name="category1" onchange="categoryChange(this)">
                      <option selected="selected" value="일반포스트">일반포스트</option>
                      <option value="구인포스트">구인포스트</option>
                      <option value="정보통신대학">정보통신대학</option>
                      <option value="공과대학">공과대학</option>
                      <option value="의과대학">의과대학</option>
                      <option value="문과대학">문과대학</option>
                      <option value="사회과학대학">사회과학대학</option>
                    </select>

                    <select id="SelectCat2" name="category2">
                      <option selected="selected" >미술</option>
                      <option>조형</option>
                      <option>디자인</option>

                    </select>

                  </div>
                  
                  </div>
                    <input class="input_field" name="title" type="text" placeholder="제목을 입력해주세요." ><br>
                    <input type="file" name="photo" accept="image/*" placeholder="파일 선택"><br>

                    <textarea class="textarea_field" name="body" placeholder="내용을 입력해주세요."></textarea><br>
                   
                    <button type="submit" class="write_button">게시</button>
                  </div>
                </form>
              </div>
        
      </div>
    </section>
  </main><!-- End #main -->

  <script>
  
  function categoryChange(opt1selfield) {
    var field1 = ["일반포스트","미술","조형","디자인"];
    var field2 = ["구인포스트","구인미술","구인조형","구인디자인"];
    var field3 = ["정보통신대학","전기전자공학부","반도체시스템공학과"];
    var field4 = ["공과대학", "화학공학부", "기계공학부", "나노공학과","신소재공학부","건축학부"];
    var field5 = ["의과대학", "의학과"];
    var field6 = ["문과대학", "국어국문학과", "프랑스어문학과", "독어독문학과","영어영문학과","중어중문학과","러시아어문학과","한문학과","철학과","사학과","문헌정보학과"];
    var field7 = ["사회과학대학", "행정학과", "미디어커뮤니케이션학과", "정치외교학과","사회복지학과","사회학과","심리학과"];
   
    var target = document.getElementById("SelectCat2");
    if(opt1selfield.value == "일반포스트") var opt2selfield  = field1;
    else if(opt1selfield.value == "구인포스트") var opt2selfield = field2;
    else if(opt1selfield.value == "정보통신대학") var opt2selfield = field3;
    else if(opt1selfield.value == "공과대학") var opt2selfield = field4;
    else if(opt1selfield.value == "의과대학") var opt2selfield = field5;
    else if(opt1selfield.value == "문과대학") var opt2selfield = field6;
    else if(opt1selfield.value == "사회과학대학") var opt2selfield = field7;
    console.log(opt2selfield)
  
    
    target.options.length = 0;
    for (i in opt2selfield) {
      var opt = document.createElement("option")
      opt.value = opt2selfield[i];
      opt.innerHTML = opt2selfield[i];
      target.appendChild(opt);
    } 
  }
</script>

{% endblock %}