body{
    background-color: #FFFFFF;
}

input, textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #f6d7fb !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400;
}

input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #f2a9ff !important;
    outline-width: 0;
    font-weight: 400;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.card {
    border-radius: 20px;
    
    border: none;
    width: 400px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}

.card1 {
    padding: 40px 30px 10px 30px;
}

#logo {
    width: 60px;
    height: 60px;
    padding: 0%;
}

.heading {
    margin-bottom: 60px !important;
}

::placeholder {
    color: #8E8E8E !important;
    opacity: 1;
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px;
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px;
}


.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #4fdcff, #D500F9);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 20px;
}

.btn-color:hover {
    background-image: linear-gradient(to right, #4fdcffdc, #d400f9df);
}

.signup{
    margin-left: auto;
    margin-right:auto;
}



.btn-white {
    border-radius: 0%;
    color: #D500F9;
    background-color: #fff;
    border: none;
    cursor: pointer;

}

.btn-white:hover {
    border-bottom: 2px solid #D500F9 !important;
    color: #D500F9;
    border-radius: 0%;
}

.bottom {
    width: 100%;
    margin-top: 50px !important;
}

.sm-text {
    font-size: 15px;
}